* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    margin: 0;
    margin-top: 3%;
}

.content {
    width: 75%;
    margin: 0 auto;
}

.content form {
    width: 80%;
    margin: 5% auto;
}

.input-name {
    width: 20vw;
}